@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page body */
body {
    background-color: #000000;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 40px;
    font-family: 'JetBrains Mono', monospace, Arial, sans-serif;
}

/* Main container */
.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Profile picture */
.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* Name */
.name {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

/* Description */
.description {
    font-size: 16px;
    color: #999999;
    opacity: 0.8;
    margin-top: 8px;
    margin-bottom: 20px;
    font-family: 'Fira Code', monospace;
}

/* Links container */
.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}

/* Links */
.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

/* Link button styling */
.link {
    background-color: #222222;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: transform .2s ease, box-shadow .2s ease, background-color .3s;
    font-family: 'Source Code Pro', monospace;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.link:hover {
    background-color: #333333; /* ligeiramente mais claro no hover */
    transform: scale(1.05) translateY(2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
